karabiner/automatic_backups
nvim/plugin
nvim/spell
nvim/.session.vim
home.nix
nvim/lua/init_local.lua
nvim/lua/google-plugins.lua
nvim/lua/custom/plugins/google-plugins.lua
fish-3.6.1/
fish-3.7.1/
fish/fish_variables
jj/repos/
jj/conf.d/local.toml
.jetski_session
local/bin/jj_watch.local.fish
local/bin/jj_watch_test.local.fish
*.local.fish
